body
{
    background: #2F1414;
    margin: 0px;
    height: 1000px;
    font-family: 'Cantarell', sans-serif;
    color: #FFF;
}

a {
    color: #FFF;
}

#hexagons
{
    position: fixed;
    top: 0;
    /*display: block;*/
    /*margin: auto;*/
    z-index: 2;
    overflow: visible;
    width: 60%;
}

.hexagon polygon
{
    stroke: #2F1414;
    stroke-width: 30pt;
    stroke-location: outside;
    -webkit-transition: fill 6s linear;
    -moz-transition: fill 6s linear;
    -ms-transition: fill 6s linear;
    -o-transition: fill 6s linear;
    transition: fill 6s linear;
}

.red
{
    fill: rgba(240,68,68,0.36);
}

.black
{
    fill: rgba(69,29,29,0.98);
}

#logo
{
    /*position: absolute;
    top: 240px;
    left: 0px;
    right: 0px;*/
    margin-top: 240px;
    z-index: 1;
}

.important-information {
    width: 200px;
    text-align: center;
    color: #FFF;
}


.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #FFF;
    display: block;
    margin: auto;
}


.numero-del-telefono {
    font-size: 1.2em;
}


.text-center {
    text-align: center;
}


.bio-container {
    width: 800px;
    height: 600px;
}

.bio {
    width: 390px;
    float: left;
    text-align: justify;
}

.useless-container {
    width: 100%;
    height: 100%;
    background-color: #b45200;
}

.v-space {
    margin-top: 25px;
}

.v-space-lg {
    margin-top: 125px;
}


.center-div {
    display: block;
    margin: auto;
}

.drasl {
    width: 42px;
}

.odd-bit {
    border: 2px solid #FFF;
    font-family: 'Source Code Pro', Courier;
    line-height: 1;
    padding: 2px 2px 3px 3px;
    display: inline-block;
}